.banner{
    height: 448px;
    position: relative;
    color: white;
    object-fit: contain;
}

.banner__content{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner__title{
    font-weight: 800;
    font-size: 3rem;
    padding-top: 0.3rem;
}

.banner__description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    max-width: 360px;
    height: 80px;
}

.banner--fadeBottom{
    height: 7.5rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.62),
        #111
    );
}

.banner__button{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 0.2vw;
    font-weight: 700;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    background-color: rgba(51,51,51,0.5);
}

.banner__button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.5s;
}